@page
@model Bank.Pages.Users.UserModel
@{
	Layout = "_DashboardLayout";
}


<h2>Administer Users</h2>
<p>This page is under construction.</p>

<a class="btn btn-secondary" asp-page="/Dashboard/IndexDashboard">Back</a>
