@page
@model Bank.Pages.Transactions.DepositModel
@{
	Layout = "_DashboardLayout";

}
<h1>Deposit</h1>
<h3>Balance: @Model.DepositData.Balance</h3>

<form method="post">
    <div class="form-group">
        <label asp-for="DepositData.Amount">Amount</label>
        <input class="form-control" asp-for="DepositData.Amount" />
        <span class="text-danger" asp-validation-for="DepositData.Amount"></span>
    </div>
    <div class="form-group">
        <label asp-for="DepositData.DepositDate">Date</label>
        <input class="form-control" asp-for="todaysDate" type="date" />
        <span class="text-danger" asp-validation-for="DepositData.DepositDate"></span>

    </div>
    <div class="form-group">
        <label asp-for="DepositData.Comment">Comment</label>
        <input class="form-control" asp-for="DepositData.Comment" />
        <span class="text-danger" asp-validation-for="DepositData.Comment"></span>
    </div>
    <button type="submit" class="btn btn-primary">Deposit</button>
    <a class="btn btn-secondary"
       asp-page="/Transactions/Transaction" asp-route-accountId="@Model.AccountId" asp-route-customerId="@Model.CustomerId">
        Back
    </a>
</form>